---
title: I C you.
permalink: "GO/index.html"
layout: default
gopher: golang.png 
---
<Main class="">
    <p>This section of my site will contain coding notes  and observations on the C programming language and Golang(Go).  The syntax is similar at the surface.  Golang is particular is pretty interesting in that is it built from the ground up to allow multi-core CPU applications taking advantage of modern hardware.  At this point it is more of a curiosity.  I find that looking and coding C exercises the muscles I have that seem to get weak from sitting on the ROR couch all day. But who knows it may prove useful in other ways sometime.</p>

    <p>Some interesting things about GO:</p>

    <h1 class="std_hdg_inline">Go-Go Gophers</h1>
    <img src="/assets/img/golang.png" height="100" width="100">
    <ul>
        <li>It has a built in package system</li>
        <li>It has a built in tools for testing, documentation and a code-formatter.</li>
        <li>Natively supports multiple function return values with out some type of hacking</li>
        <li>Concurrency with goroutines and channels</li>
        <li>GO has a built in webserver since it does not need one to do the multi-threading among other things.</li>
    </ul>
    <h1 class="std_hdg_color">The C Programming Language</h1>
    <p>I have come across references to The C programming language many times in my career...in the following sense..I see constructs in java or C# or javascript or python or ruby or perl...Swift/objective C...just about any language..and they have the same keywords in C..and I was always curious...we have all these different languages..but they really cannot seem to get away from the grandfather of them all.</p>
    
    <img src="/assets/img/inventc.jpg">

    <h1 class="std_hdg_color">The GO(golang) Programming Language</h1>
    <p>GO was created by a few of the guys who created C as sort of a replacement.  At Google Robert Griesemer, Rob Pike, and Ken Thompson were attempting to create a
        language  for  modern  systems  programming
        that  solved  real
        -world  problems  they
        encountered while building large systems at scale.</p>
</Main>
{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<ul>
    {% for post in posts %}
    {% if post.tags contains 'C' %}
    Posts by Tag  : {{ t | downcase }}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}


