---
title: ruby on rails
permalink: "ror/index.html"
layout: default
---

<Main class="">
 <h1 class="std_hdg_color">Ruby on Rails</h1>

 <p>This is a collection of posts related to Ruby on Rails and Ruby.  When I changed from my previous IBM platform to the web paradigm and open source, I originally started with PHP but soon moved to rails.  No way was I gonna work with the wordpress loop the rest of my life.  I knew even at that time that some big users of rails were actually moving to other solutions due to "scaling" concerns.</p>
    <p>When I first started to hear about companies moving away from rails it scared me.  I took some time off from rails and I focused on javascript for awhile, even python.  But I have come back to rails.</p>
 <p>I reasoned that really, how many companies really are going to get THAT big where performance would be a concern?  Even Basecamp the company where DHH works still uses rails and quite a few others.  And now with the releases of the new Turbolinks 5(see my post) and stimulus, rails is catching up in the javascript department.</p>
 <p>To me...rails gives you SO MUCH...it gives you standards in terms of your site layout, a great community for getting answers to questions/issues, and it incorporates important concepts like REST and engines and templates and databases and javascript integration...all on top of one of the best languages in terms of syntax in the world...ruby.  Not to mention the speed with which you can add functionality with Gems..</p>
 <p>My only complaint really from a personal perspective is the "magic" of how functionality is implemented...you just feel better when you can see the lower level code....but in fact, almost all modern languages at some level abstract those details away from the coding in the name of development speed...so with rails its just a matter of degree.</p>
</Main>

{% for tag in site.tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}

<ul>
 {% for post in posts %}
 {% if post.tags contains 'rails' %}
 Posts by Tag  : {{ t | downcase }}
 <li>
  <a href="{{ post.url }}">{{ post.title }}</a>
  <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
 </li>
 {% endif %}
 {% endfor %}
</ul>
{% endfor %}





